<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.DevLogMapper">
  <resultMap id="BaseResultMap" type="entity.DevLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ltime" jdbcType="TIMESTAMP" property="ltime" />
    <result column="devno" jdbcType="VARCHAR" property="devno" />
    <result column="acode" jdbcType="VARCHAR" property="acode" />
    <result column="acontent" jdbcType="VARCHAR" property="acontent" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="palletid" jdbcType="VARCHAR" property="palletid" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="palletcode" jdbcType="VARCHAR" property="palletcode" />
    <result column="startTime" jdbcType="TIMESTAMP" property="startTime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endTime" />
    <result column="companyid" jdbcType="INTEGER" property="companyId" />
    <result column="projectId" jdbcType="INTEGER" property="projectId" />
    <association property="project" javaType="entity.Project" autoMapping="true">
      <id column="pid"   property="id" />
    </association>
    <association property="zuHu" javaType="entity.ZuHu" autoMapping="true">
      <id column="zid"   property="id" />
      <result column="company" jdbcType="VARCHAR" property="company" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, ltime, devno, acode, acontent, cid, palletid, memo, detail, palletcode,companyId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
      l.* ,p.*
    from t_asrs_log_devalarm l
    left join t_web_project p on l.projectid = p.id
    where l.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByMore" parameterType="entity.DevLog" resultMap="BaseResultMap">
    select
    l.* ,p.*
    from t_asrs_log_devalarm l
    left join t_web_project p on l.projectid = p.id
    <where>
      <if test="devno != null">
        and devno = #{devno,jdbcType=VARCHAR}
      </if>
      <if test="acode != null">
        and acode = #{acode,jdbcType=VARCHAR}
      </if>
      <if test="startTime != null">
       and <![CDATA[   and DATE_FORMAT(ltime , '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>

      </if>
      <if test="endTime != null">
        and #{endTime,jdbcType=TIMESTAMP}>=ltime
      </if>
      <if test="companyId != null">
        and l.companyid = #{companyId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<select id="selectByDev" parameterType="java.lang.String" resultType="java.util.HashMap">
        select count(*) as num,z.company from t_asrs_log_devalarm l
        left join t_web_zuhu z on l.companyid = z.id
        where l.devno =  #{devno,jdbcType=VARCHAR} group by companyid
</select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_asrs_log_devalarm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.DevLog">
    insert into t_asrs_log_devalarm (id, ltime, devno, 
      acode, acontent, cid, 
      palletid, memo, detail, 
      palletcode,companyId)
    values (#{id,jdbcType=INTEGER}, now(), #{devno,jdbcType=VARCHAR},
      #{acode,jdbcType=VARCHAR}, #{acontent,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, 
      #{palletid,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{palletcode,jdbcType=VARCHAR},#{companyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="entity.DevLog">
    insert into t_asrs_log_devalarm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
     now(),
      <if test="devno != null">
        devno,
      </if>
      <if test="acode != null">
        acode,
      </if>
      <if test="acontent != null">
        acontent,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="palletid != null">
        palletid,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="palletcode != null">
        palletcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ltime != null">
        #{ltime,jdbcType=TIMESTAMP},
      </if>
      <if test="devno != null">
        #{devno,jdbcType=VARCHAR},
      </if>
      <if test="acode != null">
        #{acode,jdbcType=VARCHAR},
      </if>
      <if test="acontent != null">
        #{acontent,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="palletid != null">
        #{palletid,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="palletcode != null">
        #{palletcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.DevLog">
    update t_asrs_log_devalarm
    <set>
      <if test="ltime != null">
        ltime = #{ltime,jdbcType=TIMESTAMP},
      </if>
      <if test="devno != null">
        devno = #{devno,jdbcType=VARCHAR},
      </if>
      <if test="acode != null">
        acode = #{acode,jdbcType=VARCHAR},
      </if>
      <if test="acontent != null">
        acontent = #{acontent,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="palletid != null">
        palletid = #{palletid,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="palletcode != null">
        palletcode = #{palletcode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        companyid = #{companyId,jdbcType=INTEGER}
      </if>
    </set>

    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.DevLog">
    update t_asrs_log_devalarm
    set ltime = #{ltime,jdbcType=TIMESTAMP},
      devno = #{devno,jdbcType=VARCHAR},
      acode = #{acode,jdbcType=VARCHAR},
      acontent = #{acontent,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=VARCHAR},
      palletid = #{palletid,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      palletcode = #{palletcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>