<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.IOClassMapper">
  <resultMap id="BaseResultMap" type="entity.IOClass">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ioclass_code" jdbcType="VARCHAR" property="ioclassCode" />
    <result column="ioclass_name" jdbcType="VARCHAR" property="ioclassName" />
    <result column="tran_type" jdbcType="VARCHAR" property="tranType" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ioclass_code, ioclass_name, tran_type, memo, create_time, creator, update_time, 
    updator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_asrs_sys_ioclass
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_asrs_sys_ioclass
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.IOClass">
    insert into t_asrs_sys_ioclass (id, ioclass_code, ioclass_name, 
      tran_type, memo, create_time, 
      creator, update_time, updator
      )
    values (#{id,jdbcType=INTEGER}, #{ioclassCode,jdbcType=VARCHAR}, #{ioclassName,jdbcType=VARCHAR}, 
      #{tranType,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.IOClass">
    insert into t_asrs_sys_ioclass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ioclassCode != null">
        ioclass_code,
      </if>
      <if test="ioclassName != null">
        ioclass_name,
      </if>
      <if test="tranType != null">
        tran_type,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updator != null">
        updator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ioclassCode != null">
        #{ioclassCode,jdbcType=VARCHAR},
      </if>
      <if test="ioclassName != null">
        #{ioclassName,jdbcType=VARCHAR},
      </if>
      <if test="tranType != null">
        #{tranType,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.IOClass">
    update t_asrs_sys_ioclass
    <set>
      <if test="ioclassCode != null">
        ioclass_code = #{ioclassCode,jdbcType=VARCHAR},
      </if>
      <if test="ioclassName != null">
        ioclass_name = #{ioclassName,jdbcType=VARCHAR},
      </if>
      <if test="tranType != null">
        tran_type = #{tranType,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.IOClass">
    update t_asrs_sys_ioclass
    set ioclass_code = #{ioclassCode,jdbcType=VARCHAR},
      ioclass_name = #{ioclassName,jdbcType=VARCHAR},
      tran_type = #{tranType,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>