<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MatmainMapper">
  <resultMap id="BaseResultMap" type="entity.Matmain">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="matmainid" jdbcType="VARCHAR" property="matmainid" />
    <result column="mmname" jdbcType="VARCHAR" property="mmname" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="isinused" jdbcType="INTEGER" property="isinused" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, matmainid, mmname, memo, isinused, createTime, creator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_asrs_sys_matmain
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="entity.Matmain">
    select * from t_asrs_sys_matmain
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_asrs_sys_matmain
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.Matmain">
    insert into t_asrs_sys_matmain (id, matmainid, mmname, 
      memo, isinused,
      creator)
    values (#{id,jdbcType=INTEGER}, #{matmainid,jdbcType=VARCHAR}, #{mmname,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, 1
      , #{creator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.Matmain">
    insert into t_asrs_sys_matmain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="matmainid != null">
        matmainid,
      </if>
      <if test="mmname != null">
        mmname,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="isinused != null">
        isinused,
      </if>

      <if test="creator != null">
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="matmainid != null">
        #{matmainid,jdbcType=VARCHAR},
      </if>
      <if test="mmname != null">
        #{mmname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="isinused != null">
        #{isinused,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Matmain">
    update t_asrs_sys_matmain
    <set>
      <if test="matmainid != null">
        matmainid = #{matmainid,jdbcType=VARCHAR},
      </if>
      <if test="mmname != null">
        mmname = #{mmname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="isinused != null">
        isinused = #{isinused,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Matmain">
    update t_asrs_sys_matmain
    set matmainid = #{matmainid,jdbcType=VARCHAR},
      mmname = #{mmname,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      isinused = #{isinused,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      creator = #{userid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>