<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.RackMapper">
  <resultMap id="BaseResultMap" type="entity.Rack" autoMapping="true">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="storedef_id" jdbcType="INTEGER" property="storedefId" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="cellcode" jdbcType="VARCHAR" property="cellcode" />
    <result column="palletid" jdbcType="VARCHAR" property="palletid" />
    <result column="aisle" jdbcType="INTEGER" property="aisle" />
    <result column="layer" jdbcType="INTEGER" property="layer" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="roww" jdbcType="INTEGER" property="roww" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="lasttime" jdbcType="TIMESTAMP" property="lasttime" />
    <result column="plattype" jdbcType="VARCHAR" property="plattype" />
    <result column="cellclass" jdbcType="VARCHAR" property="cellclass" />
    <result column="spalletid" jdbcType="VARCHAR" property="spalletid" />
    <result column="lpalletid" jdbcType="VARCHAR" property="lpalletid" />
    <result column="cpalletid" jdbcType="VARCHAR" property="cpalletid" />
    <result column="xpalletid" jdbcType="VARCHAR" property="xpalletid" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="issys" jdbcType="INTEGER" property="issys" />
    <result column="worktype" jdbcType="VARCHAR" property="worktype" />
    <result column="companyid" jdbcType="INTEGER" property="companyId" />
    <association property="storedef" javaType="entity.Storedef" autoMapping="true">
           <id column="sid"   property="id" />
         <result column="memo2" jdbcType="VARCHAR" property="memo" />
    </association>
  </resultMap>
  <resultMap id="map1" type="entity.RackSum" autoMapping="true">
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="percent" jdbcType="VARCHAR" property="percent" />
    <result column="companyid" jdbcType="INTEGER" property="companyid" />

  </resultMap>

  <sql id="Base_Column_List">
    id, storedef_id, cid, cellcode, palletid, aisle, layer, rank, roww, status, lasttime, 
    plattype, cellclass, spalletid, lpalletid, cpalletid, xpalletid, memo, issys, worktype,companyid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
     r.*,s.*
    from t_asrs_rack r left join t_asrs_sys_storedef s on  r.storedef_id = s.id
    where r.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByStatus" parameterType="java.lang.Integer" resultMap="map1">

SELECT
  `status`,
  number,
  concat(round(number / total * 100.00, 2), '%') percent,
  companyid
FROM
  (
    SELECT
      *
    FROM
      (
        SELECT
          `status`,
          companyid,
          COUNT(1) number
        FROM
          `t_asrs_rack`
        GROUP BY
          `status`,companyid

      ) t1
      INNER JOIN(
        SELECT
          COUNT(1) total
        FROM
          `t_asrs_rack`
          where companyid = #{companyId,jdbcType=INTEGER}
      ) t2 ON t1.companyid = #{companyId,jdbcType=INTEGER}
  ) t

  </select>

<select id="selectByMore" resultMap="BaseResultMap" parameterType="entity.Storedef">
   select
     r.*,s.*
    from t_asrs_rack r left join t_asrs_sys_storedef s on  r.storedef_id = s.id
    <where>
       1=1
      <if test="storedefId != null">
       and r.storedef_id = #{storedefId,jdbcType=INTEGER}
      </if>
      <if test="cid != null">
        and r.cid = #{cid,jdbcType=VARCHAR}
      </if>
      <if test="cellcode != null">
        and r.cellcode = #{cellcode,jdbcType=VARCHAR}
      </if>
      <if test="palletid != null">
        and r.palletid = #{palletid,jdbcType=VARCHAR}
      </if>
      <if test="aisle != null">
        and r.aisle = #{aisle,jdbcType=INTEGER}
      </if>
      <if test="layer != null">
        and r.layer = #{layer,jdbcType=INTEGER}
      </if>
      <if test="rank != null">
        and r.rank = #{rank,jdbcType=INTEGER}
      </if>
      <if test="roww != null">
        and r.roww = #{roww,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        and r.status = #{status,jdbcType=VARCHAR}
      </if>

      <if test="plattype != null">
        and r.plattype = #{plattype,jdbcType=VARCHAR}
      </if>
      <if test="cellclass != null">
        and r.cellclass = #{cellclass,jdbcType=VARCHAR}
      </if>
      <if test="spalletid != null">
        and r.spalletid = #{spalletid,jdbcType=VARCHAR}
      </if>
      <if test="lpalletid != null">
        and r.lpalletid = #{lpalletid,jdbcType=VARCHAR}
      </if>
      <if test="cpalletid != null">
        and  r.cpalletid = #{cpalletid,jdbcType=VARCHAR}
      </if>
      <if test="xpalletid != null">
        and r.xpalletid = #{xpalletid,jdbcType=VARCHAR}
      </if>
      <if test="memo != null">
        and   r.memo = #{memo,jdbcType=VARCHAR}
      </if>
      <if test="issys != null">
        and r.issys = #{issys,jdbcType=INTEGER}
      </if>
      <if test="worktype != null">
        and r.worktype = #{worktype,jdbcType=VARCHAR}
      </if>
      <if test="companyId != null">
        and r.companyid = #{companyId,jdbcType=INTEGER}
      </if>
    </where>
</select>
   <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_asrs_rack
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="entity.Rack">
    insert into t_asrs_rack (id, storedef_id, cid, 
      cellcode, palletid, aisle, 
      layer, rank, roww, 
      status, lasttime, plattype, 
      cellclass, spalletid, lpalletid, 
      cpalletid, xpalletid, memo, 
      issys, worktype,companyid)
    values (#{id,jdbcType=BIGINT}, #{storedefId,jdbcType=INTEGER}, #{cid,jdbcType=VARCHAR}, 
      #{cellcode,jdbcType=VARCHAR}, #{palletid,jdbcType=VARCHAR}, #{aisle,jdbcType=INTEGER}, 
      #{layer,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER}, #{roww,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR},now(), #{plattype,jdbcType=VARCHAR},
      #{cellclass,jdbcType=VARCHAR}, #{spalletid,jdbcType=VARCHAR}, #{lpalletid,jdbcType=VARCHAR}, 
      #{cpalletid,jdbcType=VARCHAR}, #{xpalletid,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{issys,jdbcType=INTEGER}, #{worktype,jdbcType=VARCHAR},#{companyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="entity.Rack">
    insert into t_asrs_rack
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storedefId != null">
        storedef_id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="cellcode != null">
        cellcode,
      </if>
      <if test="palletid != null">
        palletid,
      </if>
      <if test="aisle != null">
        aisle,
      </if>
      <if test="layer != null">
        layer,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="roww != null">
        roww,
      </if>
      <if test="status != null">
        status,
      </if>
        lasttime,
      <if test="plattype != null">
        plattype,
      </if>
      <if test="cellclass != null">
        cellclass,
      </if>
      <if test="spalletid != null">
        spalletid,
      </if>
      <if test="lpalletid != null">
        lpalletid,
      </if>
      <if test="cpalletid != null">
        cpalletid,
      </if>
      <if test="xpalletid != null">
        xpalletid,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="issys != null">
        issys,
      </if>
      <if test="worktype != null">
        worktype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storedefId != null">
        #{storedefId,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="cellcode != null">
        #{cellcode,jdbcType=VARCHAR},
      </if>
      <if test="palletid != null">
        #{palletid,jdbcType=VARCHAR},
      </if>
      <if test="aisle != null">
        #{aisle,jdbcType=INTEGER},
      </if>
      <if test="layer != null">
        #{layer,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="roww != null">
        #{roww,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="plattype != null">
        #{plattype,jdbcType=VARCHAR},
      </if>
      <if test="cellclass != null">
        #{cellclass,jdbcType=VARCHAR},
      </if>
      <if test="spalletid != null">
        #{spalletid,jdbcType=VARCHAR},
      </if>
      <if test="lpalletid != null">
        #{lpalletid,jdbcType=VARCHAR},
      </if>
      <if test="cpalletid != null">
        #{cpalletid,jdbcType=VARCHAR},
      </if>
      <if test="xpalletid != null">
        #{xpalletid,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="issys != null">
        #{issys,jdbcType=INTEGER},
      </if>
      <if test="worktype != null">
        #{worktype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Rack">
    update t_asrs_rack
    <set>
      <if test="storedefId != null">
        storedef_id = #{storedefId,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="cellcode != null">
        cellcode = #{cellcode,jdbcType=VARCHAR},
      </if>
      <if test="palletid != null">
        palletid = #{palletid,jdbcType=VARCHAR},
      </if>
      <if test="aisle != null">
        aisle = #{aisle,jdbcType=INTEGER},
      </if>
      <if test="layer != null">
        layer = #{layer,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="roww != null">
        roww = #{roww,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>

        lasttime = now(),

      <if test="plattype != null">
        plattype = #{plattype,jdbcType=VARCHAR},
      </if>
      <if test="cellclass != null">
        cellclass = #{cellclass,jdbcType=VARCHAR},
      </if>
      <if test="spalletid != null">
        spalletid = #{spalletid,jdbcType=VARCHAR},
      </if>
      <if test="lpalletid != null">
        lpalletid = #{lpalletid,jdbcType=VARCHAR},
      </if>
      <if test="cpalletid != null">
        cpalletid = #{cpalletid,jdbcType=VARCHAR},
      </if>
      <if test="xpalletid != null">
        xpalletid = #{xpalletid,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="issys != null">
        issys = #{issys,jdbcType=INTEGER},
      </if>
      <if test="worktype != null">
        worktype = #{worktype,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        companyid = #{companyId,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Rack">
    update t_asrs_rack
    set storedef_id = #{storedefId,jdbcType=INTEGER},
      cid = #{cid,jdbcType=VARCHAR},
      cellcode = #{cellcode,jdbcType=VARCHAR},
      palletid = #{palletid,jdbcType=VARCHAR},
      aisle = #{aisle,jdbcType=INTEGER},
      layer = #{layer,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER},
      roww = #{roww,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      lasttime = #{lasttime,jdbcType=TIMESTAMP},
      plattype = #{plattype,jdbcType=VARCHAR},
      cellclass = #{cellclass,jdbcType=VARCHAR},
      spalletid = #{spalletid,jdbcType=VARCHAR},
      lpalletid = #{lpalletid,jdbcType=VARCHAR},
      cpalletid = #{cpalletid,jdbcType=VARCHAR},
      xpalletid = #{xpalletid,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      issys = #{issys,jdbcType=INTEGER},
      worktype = #{worktype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>