<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.RoleMapper">
  <resultMap id="BaseResultMap" type="entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rolecode" jdbcType="VARCHAR" property="roleCode" />
    <result column="rolename" jdbcType="VARCHAR" property="roleName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rolecode, rolename, memo, createtime, creator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_asrs_sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="entity.Role">
        select * from t_asrs_sys_role;
   </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_asrs_sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.Role">
    insert into t_asrs_sys_role (id, rolecode, rolename,
      memo, creator
      )
    values (#{id,jdbcType=INTEGER}, #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.Role">
    insert into t_asrs_sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleCode != null">
        rolecode,
      </if>
      <if test="roleName != null">
        rolename,
      </if>
      <if test="memo != null">
        memo,
      </if>

      <if test="creator != null">
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>

      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Role">
    update t_asrs_sys_role
    <set>
      <if test="roleCode != null">
        rolecode = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        rolename = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>

      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Role">
    update t_asrs_sys_role
    set rolecode = #{roleCode,jdbcType=VARCHAR},
      rolename = #{roleName,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},

      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="forbiddenRoleById" parameterType="int">
    update t_asrs_sys_role set isenabled = 0 where id =#{id}
  </update>
  <update id="enableRoleById" parameterType="int">
    update t_asrs_sys_role set isenabled = 1 where id =#{id}
  </update>
</mapper>