<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.UserRoleMapper">
  <resultMap id="BaseResultMap" type="entity.UserRole" autoMapping="true">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <association property="user" javaType="entity.User" autoMapping="true">
      <id column="uid"   property="id" />
      <result column="memo1" jdbcType="VARCHAR" property="memo" />
    </association>
    <association property="role" javaType="entity.Role" autoMapping="true">
      <id column="rid"   property="id" />
      <result column="memo2" jdbcType="VARCHAR" property="memo" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_code, role_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
       ur.*,r.id as rid ,r.rolename,u.id as uid ,u.user_name
    from t_asrs_user_role ur
    left join  t_asrs_sys_user u on ur.user_code = u.user_code
    left join  t_asrs_sys_role r on ur.role_code = r.rolecode
    where u.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_asrs_user_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="entity.UserRole">
    insert into t_asrs_user_role (id, user_code, role_code
      )
    values (#{id,jdbcType=BIGINT}, #{userCode,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.UserRole">
    insert into t_asrs_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.UserRole">
    update t_asrs_user_role
    <set>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.UserRole">
    update t_asrs_user_role
    set user_code = #{userCode,jdbcType=VARCHAR},
      role_code = #{roleCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>