<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.VendorMapper">
  <resultMap id="BaseResultMap" type="entity.Vendor">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="vendor_name" jdbcType="VARCHAR" property="vendorName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="isinused" jdbcType="INTEGER" property="isinused" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vendor_name, memo, isinused, create_time, creator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_asrs_sys_vendor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultType="entity.Vendor">
    select * from t_asrs_sys_vendor
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_asrs_sys_vendor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="entity.Vendor">
    insert into t_asrs_sys_vendor (id, vendor_name, memo, 
      creator
      )
    values (#{id,jdbcType=BIGINT}, #{vendorName,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.Vendor">
    insert into t_asrs_sys_vendor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vendorName != null">
        vendor_name,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="isinused != null">
        isinused,
      </if>

      <if test="creator != null">
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vendorName != null">
        #{vendorName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="isinused != null">
        #{isinused,jdbcType=INTEGER},
      </if>

      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Vendor">
    update t_asrs_sys_vendor
    <set>
      <if test="vendorName != null">
        vendor_name = #{vendorName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="isinused != null">
        isinused = #{isinused,jdbcType=INTEGER},
      </if>

      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Vendor">
    update t_asrs_sys_vendor
    set vendor_name = #{vendorName,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      isinused = #{isinused,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>