<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ZuHuServiceMapper">
  <resultMap id="BaseResultMap" type="entity.ZuHuService">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="zuhu_id" jdbcType="INTEGER" property="zuhuId" />
    <result column="service_id" jdbcType="INTEGER" property="serviceId" />
    <result column="timework" jdbcType="INTEGER" property="timework" />
    <result column="timeleft" jdbcType="INTEGER" property="timeleft" />
    <result column="moneyleft" jdbcType="DECIMAL" property="moneyleft" />
    <association property="zuHu" javaType="entity.ZuHu" autoMapping="true">
      <id column="zhid"   property="id" />

    </association>
    <association property="service" javaType="entity.Service" autoMapping="true">
      <id column="svid"   property="id" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, zuhu_id, service_id, timework, timeleft, moneyleft
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
         zs.*,z.*,s.*
    from t_zuhu_service zs
    left join  t_web_zuhu z on zs.zuhu_id=z.id
    left join  t_web_service s on zs.service_id = s.id
    where zs.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByMore" parameterType="entity.ZuHuService" resultMap="BaseResultMap">
    select
    zs.*,z.*,s.*
    from t_zuhu_service zs
    left join  t_web_zuhu z on zs.zuhu_id=z.id
    left join  t_web_service s on zs.service_id = s.id
   <where>
     <if test="zuhuId != null">
       and zuhu_id = #{zuhuId,jdbcType=INTEGER}
     </if>
     <if test="serviceId != null">
       and service_id = #{serviceId,jdbcType=INTEGER}
     </if>
     <if test="timework != null">
       and timework = #{timework,jdbcType=INTEGER}
     </if>
     <if test="timeleft != null">
       and timeleft = #{timeleft,jdbcType=INTEGER}
     </if>
     <if test="moneyleft != null">
       and moneyleft = #{moneyleft,jdbcType=DECIMAL}
     </if>
   </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_zuhu_service
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.ZuHuService">
    insert into t_zuhu_service (id, zuhu_id, service_id, 
      timework, timeleft, moneyleft
      )
    values (#{id,jdbcType=INTEGER}, #{zuhuId,jdbcType=INTEGER}, #{serviceId,jdbcType=INTEGER}, 
      #{timework,jdbcType=INTEGER}, #{timeleft,jdbcType=INTEGER}, #{moneyleft,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.ZuHuService">
    insert into t_zuhu_service
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="zuhuId != null">
        zuhu_id,
      </if>
      <if test="serviceId != null">
        service_id,
      </if>
      <if test="timework != null">
        timework,
      </if>
      <if test="timeleft != null">
        timeleft,
      </if>
      <if test="moneyleft != null">
        moneyleft,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zuhuId != null">
        #{zuhuId,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="timework != null">
        #{timework,jdbcType=INTEGER},
      </if>
      <if test="timeleft != null">
        #{timeleft,jdbcType=INTEGER},
      </if>
      <if test="moneyleft != null">
        #{moneyleft,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.ZuHuService">
    update t_zuhu_service
    <set>
      <if test="zuhuId != null">
        zuhu_id = #{zuhuId,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null">
        service_id = #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="timework != null">
        timework = #{timework,jdbcType=INTEGER},
      </if>
      <if test="timeleft != null">
        timeleft = #{timeleft,jdbcType=INTEGER},
      </if>
      <if test="moneyleft != null">
        moneyleft = #{moneyleft,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.ZuHuService">
    update t_zuhu_service
    set zuhu_id = #{zuhuId,jdbcType=INTEGER},
      service_id = #{serviceId,jdbcType=INTEGER},
      timework = #{timework,jdbcType=INTEGER},
      timeleft = #{timeleft,jdbcType=INTEGER},
      moneyleft = #{moneyleft,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>