<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ZuHuMapper">
  <resultMap id="BaseResultMap" type="entity.ZuHu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="pre_company" jdbcType="INTEGER" property="preCompany" />
    <result column="ismain" jdbcType="INTEGER" property="ismain" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="caegory" jdbcType="VARCHAR" property="caegory" />
    <result column="maxnum_user" jdbcType="BIGINT" property="maxnumUser" />
    <result column="maxnum_company" jdbcType="INTEGER" property="maxnumCompany" />
    <result column="maxnum_dev" jdbcType="BIGINT" property="maxnumDev" />
    <result column="service_address" jdbcType="VARCHAR" property="serviceAddress" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="projectid" jdbcType="BIGINT" property="projectid" />
    <!-- association ：配置一对一属性 -->
    <!-- property:order里面的User属性名 -->
    <!-- javaType:属性类型 -->
    <association property="zuHu1" javaType="entity.ZuHu" autoMapping="true">
      <id column="pre_id"   property="id" />
      <result column="company" jdbcType="VARCHAR" property="company" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, company, tel, postcode, pre_company, ismain, address, caegory, maxnum_user, maxnum_company, 
    maxnum_dev, service_address, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
      t.*,t1.*
    from t_web_zuhu t
    left join  t_web_zuhu t1 on t.pre_company = t1.id
    where t.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByMore" parameterType="entity.ZuHu" resultMap="BaseResultMap">
    select
    t.*,t1.company
    from t_web_zuhu t
    left join  t_web_zuhu t1 on t.pre_company = t1.id
    <where>
       1=1
      <if test="id != null">
        and t.id=#{id,jdbcType=INTEGER}
      </if>
      <if test="company != null">
        and t.company=#{company,jdbcType=VARCHAR}
      </if>
      <if test="tel != null">
        and t.tel=#{tel,jdbcType=VARCHAR}
      </if>
      <if test="postcode != null">
       and t.postcode=#{postcode,jdbcType=VARCHAR}
      </if>
      <if test="preCompany != null">
        and t.pre_company=#{preCompany,jdbcType=INTEGER}
      </if>
      <if test="ismain != null">
        and t.ismain=#{ismain,jdbcType=INTEGER}
      </if>
      <if test="address != null">
        and t.address=#{address,jdbcType=VARCHAR}
      </if>
      <if test="caegory != null">
        and t.caegory=#{caegory,jdbcType=VARCHAR}
      </if>
      <if test="maxnumUser != null">
        and t.maxnum_user=#{maxnumUser,jdbcType=BIGINT}
      </if>
      <if test="maxnumCompany != null">
        and t.maxnum_company=#{maxnumCompany,jdbcType=INTEGER}
      </if>
      <if test="maxnumDev != null">
        and t.maxnum_dev=#{maxnumDev,jdbcType=BIGINT}
      </if>
      <if test="serviceAddress != null">
        and t.service_address=#{serviceAddress,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and t.create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="projectid != null and projectid != 0">
        and t.projectid=#{projectid,jdbcType=BIGINT}
      </if>
    </where>
  </select>

  <select id="selectTotalNumber" resultType="int">
     select count(*) as sum_zuhu from t_web_zuhu
  </select>

  <select id="selectDevnumber"  resultType="int">
     select sum(maxnum_dev)  from t_web_zuhu where pre_company = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_web_zuhu
    where id = #{id,jdbcType=INTEGER}
  </delete>



  <insert id="insert" parameterType="entity.ZuHu">
    insert into t_web_zuhu (id, company, tel, 
      postcode, pre_company, ismain, 
      address, caegory, maxnum_user, 
      maxnum_company, maxnum_dev, service_address, 
      create_time,projectid)
    values (#{id,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{postcode,jdbcType=VARCHAR}, #{preCompany,jdbcType=INTEGER}, #{ismain,jdbcType=INTEGER},
      #{address,jdbcType=VARCHAR}, #{caegory,jdbcType=VARCHAR}, #{maxnumUser,jdbcType=BIGINT}, 
      #{maxnumCompany,jdbcType=INTEGER}, #{maxnumDev,jdbcType=BIGINT}, #{serviceAddress,jdbcType=VARCHAR}, 
      now(),#{projectid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="entity.ZuHu">
    insert into t_web_zuhu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="preCompany != null">
        pre_company,
      </if>
      <if test="ismain != null">
        ismain,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="caegory != null">
        caegory,
      </if>
      <if test="maxnumUser != null">
        maxnum_user,
      </if>
      <if test="maxnumCompany != null">
        maxnum_company,
      </if>
      <if test="maxnumDev != null">
        maxnum_dev,
      </if>
      <if test="serviceAddress != null">
        service_address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="projectid ! = null">
        projectid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="preCompany != null">
        #{preCompany,jdbcType=VARCHAR},
      </if>
      <if test="ismain != null">
        #{ismain,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="caegory != null">
        #{caegory,jdbcType=VARCHAR},
      </if>
      <if test="maxnumUser != null">
        #{maxnumUser,jdbcType=BIGINT},
      </if>
      <if test="maxnumCompany != null">
        #{maxnumCompany,jdbcType=INTEGER},
      </if>
      <if test="maxnumDev != null">
        #{maxnumDev,jdbcType=BIGINT},
      </if>
      <if test="serviceAddress != null">
        #{serviceAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectid != null">
        #{projectid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.ZuHu">
    update t_web_zuhu
    <set>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="preCompany != null">
        pre_company = #{preCompany,jdbcType=INTEGER},
      </if>
      <if test="ismain != null">
        ismain = #{ismain,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="caegory != null">
        caegory = #{caegory,jdbcType=VARCHAR},
      </if>
      <if test="maxnumUser != null">
        maxnum_user = #{maxnumUser,jdbcType=BIGINT},
      </if>
      <if test="maxnumCompany != null">
        maxnum_company = #{maxnumCompany,jdbcType=INTEGER},
      </if>
      <if test="maxnumDev != null">
        maxnum_dev = #{maxnumDev,jdbcType=BIGINT},
      </if>
      <if test="serviceAddress != null">
        service_address = #{serviceAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectid != null">
        projectid = #{projectid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.ZuHu">
    update t_web_zuhu
    set company = #{company,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      pre_company = #{preCompany,jdbcType=INTEGER},
      ismain = #{ismain,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      caegory = #{caegory,jdbcType=VARCHAR},
      maxnum_user = #{maxnumUser,jdbcType=BIGINT},
      maxnum_company = #{maxnumCompany,jdbcType=INTEGER},
      maxnum_dev = #{maxnumDev,jdbcType=BIGINT},
      service_address = #{serviceAddress,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      projectid = #{projectid,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>